@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
:root{
    --bg:#060b23;
    --light:#adffff;
    --dark:#18ffff;
} 
body{
    background-color: rgb(233, 227, 227);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
.form{
    width: 360px;
    padding: 4rem 2rem;
    background-color: var(--bg);
    border-radius: 0.5rem;
}

.form_title{
    margin-bottom: 3rem;
    font-weight: 550;
    color: #ffffff;
}
.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 1rem;
    color:  #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0.50rem;
    background-color: transparent;
}
.form_label{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.25rem;
    transition: .3s ease-in-out;
    color:  #ffffff;
}
.form_button{
    display: block;
    padding: 0.75rem 2rem;
    margin-left: auto;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s
}

.form_button:hover{
    background-color: var(--dark);
    transform: scale(1.05);
    transition: .2s ease-in-out;
}
.form_label:hover{
    cursor: text;
}
.form_input:hover{
    border: 2px solid var(--light);
}
.form_input:focus + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: .75rem;
    background-color: var(--bg);
    color: #ffffff;   

}
.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: 0.75rem;
    z-index: 2;
    background-color: #060b23;
}
.form_input:focus{
    border: 2px solid var(--dark);
}